.upload {
	margin-bottom: 1rem;
}

.upload::file-selector-button {
	background: #fac22c;
	border: none;
	border-radius: 5px;
}

.upload::file-selector-button:hover {
	background: #f1ecaf;
}

.buttons:hover {
	background: #f1ecaf !important;
}

/* Mobile */
@media (max-width: 700px) {
	.submit {
		margin-bottom: 0;
	}
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
	.form {
		margin-bottom: 0;
	}
}
